@using OpenLan.Web.Models
@model Clan

@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    @Html.Partial("StatusPartial")
<hr/>
}
<h2>Registered Clans</h2>
@if (Model == null)
{
    <div class="alert alert-warning">
        <h4>You're not part of a clan</h4>
        <p></p>
        <p><a class="btn btn-primary" href="/Clan/Start">Create or join a clan &raquo;</a></p>
</div>
<br>
}
@*@await Html.PartialAsync("IndexPartial")*@