@using OpenLan.Web.Models
@model Clan

@{
    ViewBag.Title = "My Clan";
}

@if (Model == null)
{
    <h2>My Clan</h2>
    <div class="alert alert-warning">
        <h4>You're not part of a clan</h4>
        <p></p>
        <p><a class="btn btn-primary" href="/Clan/Start">Create or join a clan &raquo;</a></p>
    </div>
}
else {
    <h2>@Model.Name</h2>
    <div class="row">
        <div class="col-md-3">
            <b>Members</b><br />
            @foreach (var member in Model.Members)
            {
                @member.UserName<br />
            }
        </div>
        <div class="col-md-6">
            <p>Your token is <code>@Model.Token</code></p>
        </div>
    </div>

    <p>
        @Html.ActionLink("Transfer Leadership", "TransferLeadership")
    </p>
}