@model int

@{
    ViewBag.Title = "Address And Payment";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Payment</h2>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_YsXKYaIUXvEqJWBx75eTXVdb"
            data-name="OpenLan"
            data-currency="cad"
            data-amount="@Model">
    </script>
}

@section Scripts {
    @*TODO : Until script helpers are available, adding script references manually*@
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}