@model IEnumerable<OpenLan.Web.Models.ApplicationUser>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clan)
        </th>
    </tr>

    @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (item.Clan != null) {
                    @Html.DisplayFor(modelItem => item.Clan.Name)
                }
            </td>
        </tr>
        }
</table>