@model OpenLan.Web.Models.Clan

@if (Model.Url != null)
{
    <a href="@Model.Url">@Model.Name</a>
}
else
{
    @Model.Name
}

@if (Model.Tagline != null)
{
    <br /><span class="text-muted" style="font-size: smaller;">@Model.Tagline</span>
}